<mat-card>
    <form (submit)="onAddClothing(clothingForm)" #clothingForm="ngForm">
      <mat-form-field>
          <label> Clothing Type</label>
        <input
          matInput
          type="text"
          name="type"
          ngModel
          required
          #title="ngModel">
      </mat-form-field>
      <mat-form-field>
          <label>Clothing Size</label>
        <textarea
          matInput
          name="Size"
          ngModel
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <mat-form-field>
          <label>Clothing Color</label>
        <textarea
          matInput
         rows="4"
          name="color"
          ngModel
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input  
        matInput 
        name="Size" 
        ngModel
        [matSizepicker]="picker" 
        placeholder="Choose a size">
        <mat-sizepicker-toggle matSuffix [for]="picker"></mat-sizepicker-toggle>
        <mat-sizepicker #picker></mat-sizepicker>
        
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save Movie</button>
    </form>
  </mat-card>
