<!-- <ul>
  <li *ngFor="let clothing of MyClothing">
    <p>{{clothing.Type}}</p>
    <p>{{clothing.Size}}</p>
    <img src={{clothing.Colors}}>
  </li>
</ul> -->

<mat-accordion *ngFor="let clothing of Myclothing">
    <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h3> {{ clothing.type }} </h3>
    </mat-panel-title>
    <mat-panel-description>
    <h3>{{ clothing.size }}</h3>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <img src="{{clothing.color}}">
    <mat-action-row>
  <button mat-button [routerLink]="['/edit', clothing._id]" color="primary">EDIT</button>
    
    <button mat-button (click)="onDelete(clothing._id)" color="warn">DELETE</button>
    </mat-action-row>
    </mat-expansion-panel>
    </mat-accordion>
